@font-face {
    font-family: shapiro;
    src: url(/upyouth-ctf/fonts/shapiro-bold.otf);
}
.shapiro {
    font-family: shapiro;
}

body {
    font-family: "Inter", sans-serif;
    font-optical-sizing: auto;
}